body {
  font-family: Helvetica;
  }

.titleheading {
  background-image: url("../images/pattern.jpeg");
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  }

  .sections {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    }

.greenbanner {
  background-color: mediumspringgreen;
}

.redbanner {
  background-color: lightcoral;
}

.bluebanner {
  background-color: skyblue;
}

.highlighted {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
